In [6]:
import pandas as pd
 #import python packages

In [3]:
df = pd.read_csv(r'C:\Users\PC\Downloads\archive (3)\insurance.csv')
df.head() #import file

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.info() #finding the info about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
df.describe() #descriptive stats about the data

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [6]:
df.isnull().sum() #finding null values

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
df.shape #how many columns and rows/index

(1338, 7)

In [13]:
df.columns #finding the colmuns in the table

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [9]:
df.age.count() #number of values in a particular column

1338

In [10]:
df.sex.count()

1338

In [11]:
df.bmi.count()

1338

In [14]:
df.age.nunique() #finding unique values in a column

47

In [15]:
df.sex.nunique()

2

In [17]:
df.age.dtype #finding the data type

dtype('int64')

In [18]:
df.sex.dtype

dtype('O')

In [19]:
import numpy as np

In [26]:
print(df.charges.min())
print(df.charges.var())
print(df.charges.mode())
print(df.charges.mean())
print(df.charges.max())
print(df.charges.quantile(.25))
print(df.charges.quantile(.50))
print(df.charges.quantile(.75))
print(df.charges.median())#descriptive stats of a particular column

1121.8739
146652372.15285498
0    1639.5631
Name: charges, dtype: float64
13270.422265141257
63770.42801
4740.28715
9382.033
16639.912515
9382.033

In [27]:
np.std(df.charges) #measuring the spread of a whole population

12105.484975561612

In [34]:
df.charges.std() #measuring the spread of a sample population

12110.011236694001

In [3]:
from scipy.stats import kurtosis,skew

In [7]:
df = pd.read_csv(r'C:\Users\PC\Downloads\archive (3)\insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
print(skew(df.charges, bias=False)) 
print(kurtosis(df.charges, bias=False)) #normality that skewedness

1.5158796580240383
1.6062986532967916

In [9]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]